<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="Avianca/src/main/resources/static/style.css">
</head>

<body>
    <section>
        <div id="login-box">
            <form action="/Menu" method="get">
                <img src="Avianca/src/main/resources/static/loudy.jpg" class="bg" alt="background">
                <div class="Login">
                    <h2>Login</h2>
                    <div class="inputBox">
                        <input type="text" placeholder="Usuario">
                    </div>
                    <div class="inputBox">
                        <input type="password" placeholder="Contraseña">
                    </div>
                    <div class="inputBox">
                        <input type="submit" value="Login" id="btn">
                    </div>
                </div>
            </form>
        </div>
    </section>

</body>

</html>